<% if @over_ten %>
   <%= link_to 'Show Previous', '?m=all' %>
<% end %>

<div class="msg-container" id="msg-js-id">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% if message.user_id == current_user.id%>
        <% user = User.find(message.user_id) %>
          <div class="msg-msg sender"> <%= message.body%></div>
      <% else %>
        <% user = User.find(message.user_id) %>
           <div class="msg-msg reciever"> <%= message.body%></div>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="msg-reply">
<%= form_for [@conversation, @message], remote: true do |f| %>
    <%= f.text_area :body, class: "msg-input" %>

    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>

    <%= f.submit "Add Reply", class: "btn btn-primary" %>


<% end %>
</div>

<script>
  setTimeout(function() {
    location.reload();
    window.scrollTo(0,document.body.scrollHeight);
  }, 2000);

</script>
