<div id="spot_page">
<div class="map-container">
  <div class="preview-picture">
    lien
  </div>
  <div class="order-counter">
    <%= @stops.first.list_order.to_s %>
  </div>
  <div
    id="map"
    style="width: 100%;
    height: 67vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
  <div id="stop">
    <h1><%= @stops.first.name %></h1>
    <p> <%= @stops.first.description %></p>
  </div>

</div>
