<div class="cards-container">

  <% guides.each do |guide| %>
    <div class="card-box">

      <div class="image" style="background-image: url(<%= guide.image %>);">
        <p id="card-location"><span><i class="fas fa-map-marker-alt"></i></span><%= guide.location %></p>
      </div>

      <div class="contentz">
        <div class="info">
          <h3><%= link_to guide.title , guide_path(guide), class: "card-title"%></h3>
          <p><%= guide.overview %></p>
        </div>
        <div class="links-container">
          <% if current_user == guide.user %>
            <%= link_to "Edit", edit_guide_path(guide), class: 'link' %>
            <%= link_to 'Itinerary', guide_path_path(guide), class: 'link' %>
          <% else %>
          <%= image_tag(guide.user.avatar, class: "avatar", alt: "avatar") %>
            <%= link_to conversations_path(sender_id: current_user, recipient_id: guide.user), class: "link", method: :post do %>
              <i class="fas fa-paper-plane"></i>
            <% end %>
          <% end %>
        </div>
      </div>

      <% if current_user != guide.user %>
        <div class="price">
          <p><strong><%= humanized_money_with_symbol(guide.price) %></strong></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
