<div class="cards-container">

  <% guides.each do |guide| %>
    <div class="card-box">

      <div class="image" style="background-image: url(<%= guide.image %>);">
        <p id="card-location"><span><i class="fas fa-map-marker-alt"></i></span><%= guide.location %></p>
      </div>

      <div class="contentz p-2">
        <div class="info">
          <h3><%= link_to guide.title , guide_path(guide), class: "card-title"%></h3>
          <div class="d-flex">
            <div class="info-item d-flex align-items-center pr-1 pt-1">
              <span class="info-icon px-1"><i class="fas fa-route"></i></span>
              <p><strong><%= guide.distance %> km</strong></p>
            </div>
            <div class="info-item d-flex align-items-center px-1 pt-1">
              <span class="info-icon px-1"><i class="far fa-clock"></i></span>
              <p> <strong><%= guide.duration %> hs</strong></p>
            </div>
            <div class="info-item d-flex align-items-center px-1 pt-1">
              <% if guide.category == "history" %>
                <span class="info-icon px-1"><i class="fas fa-landmark"></i></i></span>
              <% elsif guide.category == "nature" %>
                <span class="info-icon px-1"><i class="fas fa-seedling"></i></span>
              <% elsif guide.category == "food" %>
                <span class="info-icon px-1"><i class="fas fa-utensils"></i></span>
              <% elsif guide.category == "adventure" %>
                <span class="info-icon px-1"><i class="fas fa-mountain"></i></span>
              <% elsif guide.category == "horror" %>
                <span class="info-icon px-1"><i class="fas fa-dizzy"></i></span>
              <% end %>
              <p><strong><%= guide.category %> </strong></p>
            </div>
          </div>
        </div>
        <div class="links-container">
          <% if current_user == guide.user %>
            <%= link_to "Edit", edit_guide_path(guide), class: 'link' %>
            <%= link_to 'Itinerary', guide_path_path(guide), class: 'link' %>
          <% else %>
            <div class="avatar-position mt-2">
              <%= image_tag(guide.user.avatar, class: "avatar pr-1", alt: "avatar") %>
              <p><%= guide.user.full_name %></p>
            </div>
          <% end %>
        </div>
      </div>


      <% if current_user != guide.user %>
        <div class="price">
          <p><strong><%= humanized_money_with_symbol(guide.price) %></strong></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
