<div class="cards-container">
  <% @guides.each do |guide| %>
    <div class="card-box">
      <div class="contentz">
        <h3><%= link_to guide.title , guide_path(guide), class: "card-title"%></h3>
        <p><%= guide.location %></p>
        <div class="links-container">
          <% if current_user == guide.user %>
            <%= link_to "Edit", edit_guide_path(guide), class: 'link' %>
            <%= link_to 'Itinerary', guide_path_path(guide), class: 'link' %>
          <% else %>
            <%= link_to "Show More", guide_path(guide), class: 'link' %>
            <%= link_to 'Message', conversations_path(sender_id: current_user, recipient_id: guide.user), class: "link", method: :post %>
          <% end %>
        </div>
      </div>

        <div class="image">
          <img src="https://images.unsplash.com/photo-1448906654166-444d494666b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="test image">
        </div>

        <% if current_user != guide.user %>
          <div class="price">
            <h3>£ <%= guide.price_cents %></h3>
          </div>
        <% end %>
    </div>
  <% end %>
</div>
