<div class="navbar navbar-expand-sm navbar-light sticky-top">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <button type="button" id="sidebarCollapse" class="btn btn-info">
    <span><i class="fas fa-bars"></i></span>
  </button>

  <div class="wrapper">
    <nav id="sidebar" class="active">
        <h3>Username</h3>
        <ul class="nav-items">
          <li>
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li>
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
        </ul>
    </nav>
  </div>
</div>
<%= content_for(:after_js) do %>
    <%= javascript_pack_tag 'plugins/sidebar_toggle' %>
<% end %>
