<div class="dashboard-container">

  <div class="dash-links">
    <a href="#guides-section" class="tab-link"><i class="fas fa-book-open"></i></a>
    <a href="#orders-section" class="tab-link"><i class="fas fa-shopping-cart"></i></a>
    <a href="#wishlist-section" class="tab-link"><i class="fas fa-heart"></i></a>
  </div>

  <h2 class="p-3">Hi, <span><%=current_user.first_name%></span> !</h2>


  <div id="guides-section">
    <h3 class="section-title" id="guides-section"><span><i class="fas fa-book-open"></i></span> You made these guides</h3>
    <%= render 'shared/guide_cards', guides: @guides %>
  </div>

  <%= link_to new_guide_path do  %>
    <div class="d-flex justify-content-center m-3">
      <div class="btn btn-small btn-dark-outline">Create a New Guide</div>
    </div>
  <% end %>

  <div id="orders-section">
    <% if current_user.orders.empty? %>
      <h3 class="section-title"><span><i class="fas fa-shopping-cart"></i></span>You haven't purchased any guides yet!</h3>
      <%= link_to guides_path do %>
        <div class="btn btn-small btn-light">Browse</div>
      <% end %>
    <% else %>
      <h3 class="section-title"><span><i class="fas fa-shopping-cart"></i></span>Your purchases</h4>
      <%= render 'shared/order_cards' %>
    <% end %>
  </div>

  <div id="wishlist-section">
    <% if current_user.wished_guides.empty? %>
      <h3 class="section-title"><span><i class="fas fa-heart"></i></span>Your wishlist is empty...</h3>
      <%= link_to guides_path do %>
        <div class="button-to-browse" id="ur-wish">Browse</div>
      <% end %>
    <% else %>
      <h3 class="left-title">Saved</h3>
        <div class="card-container" id="wishlist">
          <% current_user.wished_guides.each do |guide| %>
            <div class="card-box">
              <div class="contentz">
                <%= link_to guide.title , guide_path(guide), class: "card-title-class"%>
                <p>Location: <%= guide.location %></p>
                <% wish = guide.wishes.where(user: current_user).first %>
                <div class="links-container">
                <%= link_to "Remove from wishlist", guide_wish_path(guide, wish),
                    method: :delete, class: 'name' %>
                </div>
                <div class="heart"></div>
                <div class="image">
                  <img src="https://picsum.photos/id/377/80/80" alt="test image">
                  <p><%= guide.price_cents %></p>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>

<h4 class="left-title" id="ur-suggestions">Guides you might like</h4>
<div class="card-container">
  <% collection = Guide.first(4) %>

  <% collection.each do |suggestion| %>
  <% if suggestion.user_id == current_user.id || @orders.pluck(:guide_id).include?(suggestion.id) %>
  <% else %>
    <div class="card-box">
      <div class="contentz">
        <%= link_to suggestion.title , guide_path(suggestion), class: "card-title-class"%>
        <p>Location: <%= suggestion.location %></p>
        <div class="links-container">

        </div>
        <div class="image">
          <img src="https://picsum.photos/id/377/80/80" alt="test image">
          <p><%= suggestion.price_cents %></p>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>



