<div class="container">
  <h3 class="left-title">Hi, <span id="user-name"><%=current_user.first_name%></span> !</h3>
  <br>
  <h4 class="left-title">Your guides</h4>
  <div class="card-container">
    <% @guides.each do |guide| %>
      <div class="card-box">
        <div class="contentz">
         <%= link_to guide.title , guide_path(guide), class: "card-title-class"%>
          <p>Location: <%= guide.location %>, Distance <%= guide.distance %> km, Duration: <%= guide.duration %> hs </p>
          <%= link_to "Edit", edit_guide_path(guide), class: 'name' %>
        </div>
        <div class="image">
          <img src="https://picsum.photos/id/377/80/80" alt="test image">
          <p>£ 1.99</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
