<div class="dashboard-container">

  <h2 class="m-3">Hi, <span><%=current_user.first_name%></span> !</h2>


  <div id="guides-section">
    <h3 class="section-title" id="guides-section"><span><i class="fas fa-book-open"></i></span> You made these guides</h3>
  <%= link_to new_guide_path do  %>
    <div class="btn-circle btn-dark mt-3 mb-3"><i class="fas fa-plus"></i></div>
  <% end %>
    <%= render 'shared/guide_cards', guides: @guides %>
  </div>

  <div class="separator mt-3 mb-3"></div>

  <div id="orders-section">
    <% if current_user.orders.empty? %>
      <h3 class="section-title"><span><i class="fas fa-shopping-cart"></i></span>You haven't purchased any guides yet!</h3>
      <%= link_to guides_path do %>
        <div class="btn btn-small btn-light whiter mt-3 mb-3">Explore</div>
      <% end %>
    <% else %>
      <h3 class="section-title"><span><i class="fas fa-shopping-cart"></i></span>Your purchases</h4>
      <%= render 'shared/order_cards', guides: @orders %>
    <% end %>
  </div>

  <div class="separator mt-3 mb-3"></div>

  <div id="wishlist-section">
    <% if current_user.wished_guides.empty? %>
      <h3 class="section-title"><span><i class="fas fa-heart"></i></span>Your wishlist is empty...</h3>
    <% else %>
      <h3 class="section-title"><span><i class="fas fa-heart"></i></span>Your wishlist</h3>
      <div class="card-container" id="wishlist">
        <%= render 'shared/guide_cards', guides: current_user.wished_guides %>
      </div>
    <% end %>
  </div>

  <div class="mt-3 mb-3"></div>




