<div class="container">
  <h3 class="center-title"><%= current_user.last_name%>'s dashboard</h3>
  <br>

  <%= link_to "Create a new guide", new_guide_path(@guide) %>
  <%= link_to "Search for guides", guides_path %>

  <div class="cards-grid">
    <h4 class="left-title">Your guides</h4>
    <% @guides.each do |guide| %>
      <div class="cards">
        <%= guide.title %>
        <p>Location: <%= guide.location %></p>
        <p>Distance: <%= guide.distance %> km </p>
        <p>Duration <%= guide.duration %> hs</p>
        <p>Category: <%= guide.category %> </p>
        <p><%= pluralize guide.reviews.size, "review" %></p>
        <%= link_to "Edit", edit_guide_path(guide) %>
        <%= link_to "Itinerary", guide_stops_path(guide) %>
      </div>
    <% end %>
  </div>

  <div class="cards-grid">
    <h4 class="left-title">Your purchases</h4>
    <% @orders.each do |order| %>
      <div class="cards">
        <%= link_to order_path(order) do %>
          <%= order.guide.title %>
        <% end %>
        <p>Location: <%= order.guide.location %></p>
        <p>Distance: <%= order.guide.distance %> km </p>
        <p>Duration <%= order.guide.duration %> hs</p>
        <p>Category: <%= order.guide.category %> </p>
        <p><%= pluralize order.guide.reviews.size, "review" %></p>
        <%= link_to "Edit", edit_guide_path(order.guide) %>
        <%= link_to "Itinerary", guide_stops_path(order.guide) %>
      </div>
    <% end %>
  </div>
</div>
