<div class="container">

  <div class="banner home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1537799943037-f5da89a65689?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)">

    <div class="content">
      <h1>Guide Me</h1>
      <p>Simplify your trips</p>
      <div class="row d-flex justify-content-center">
        <%= link_to "Explore Now", guides_path, class: "btn-small btn-light whiter col-sm-4 m-3"%>
      </div>
      <div class="row d-flex justify-content-center">
        <%= link_to "Log in", new_user_session_path, class: "btn-small btn-light-outline col-sm-4 m-3" %>
      </div>
    </div>
  </div>

  <div class="row m-0">
      <div class="instruction col-sm-12 col-md-4 mt-3">
        <h3>Browse</h3>
        <%= image_tag "browse.png" , class: "illustration-image" %>
        <p>Browse among hundreds of guided tours available</p>
      </div>

      <div class="instruction col-sm-12 col-md-4 mt-3">
        <h3>Create</h3>
        <%= image_tag "create.png" , class: "illustration-image" %>
        <p>Or create your own personal itinerary</p>
      </div>

      <div class="instruction col-sm-12 col-md-4 mt-3 mb-3">
        <h3>Share</h3>
        <%= image_tag "share.png" , class: "illustration-image" %>
        <p>Share it with your friends!</p>
      </div>
  </div>
</div>




