<div class="login-container">
  <h2>Log in</h2>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <form class="login-form">

        <div class="txtb">
           <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
          <span data-placeholder="Username"></span>
        </div>

        <div class="txtb">
          <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
          <span data-placeholder="Password"></span>
        </div>

        <%= f.button :submit, "Log in", class: "logbtn" %>
        <%= link_to "Forgot you password", new_user_password_path  %>


        <div class="bottom-text">
          Don't have an account? <%= link_to "Sign Up", new_user_registration_path %>
        </div>
      </form>

<% end %>
</div>








