<h1>Guides Search Page</h1>

<%= form_tag guides_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a guide"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<% @guides.each do |guide| %>
  <%= link_to guide_path(guide) do %>
    <h3><%= guide.title %></h3>
  <% end %>
  <p>Location: <%= guide.location %></p>
  <p>Overview: <%= guide.overview %></p>
  <p>Distance: <%= guide.distance %> km </p>
  <p>Duration <%= guide.duration %> hs</p>
  <p>Category: <%= guide.category %> </p>
  <p>Created by: <%= guide.user.full_name %></p>
  <%= form_tag orders_path do %>
  <%= hidden_field_tag 'guide_id', guide.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
  <% end %>
<% end %>

