<h1>Guides Search Page</h1>

<%= form_tag guides_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a guide"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<p><%= pluralize @guides.count, "guide" %> found </p>

<% @guides.each do |guide| %>
  <h3><%= guide.title %></h3>
  <p>Location: <%= guide.location %></p>
  <p>Overview: <%= guide.overview %></p>
  <p>Distance: <%= guide.distance %> km </p>
  <p>Duration <%= guide.duration %> hs</p>
  <p>Category: <%= guide.category %> </p>
  <p>Created by: <%= guide.user.full_name %></p>
  <p><%= pluralize guide.reviews.size, "review" %></p>
  <%= form_tag orders_path do %>
    <%= hidden_field_tag 'guide_id', guide.id %>
    <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
  <% end %>
<% end %>

