<h1>Guide Show Page</h1>

<h3><%= @guide.title %></h3>

<p>Location: <%= @guide.location %></p>

<p>Overview: <%= @guide.overview %></p>

<p>Distance: <%= @guide.distance %> km </p>

<p>Duration <%= @guide.duration %> hs</p>

<p>Category: <%= @guide.category %> </p>

<p>Created by: <%= @guide.user.full_name %></p>

<% if @guide.user == current_user %>
  <%= link_to "Edit", edit_guide_path(@guide) %>
<% else %>
  <%= form_tag orders_path do %>
    <%= hidden_field_tag 'guide_id', @guide.id %>
    <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
  <% end %>
<% end %>

<%= link_to "Search", guides_path %>

<div id="reviews">
  <% if @guide.reviews.blank? %>
    <p>Be the first to leave a review for <%= @guide.title %></p>
  <% else %>
    <ul>
      <% @reviews.each do |review| %>
        <%= render 'reviews/review', review: review %>
      <% end %>
    </ul>
  <% end %>
</div>
<div id="new-review">
  <%= link_to "Add a Review", new_guide_review_path(@guide), remote: true %>
</div>
