<h1>Guide Show Page</h1>

<h3><%= @guide.title %></h3>

<p>Location: <%= @guide.location %></p>

<p>Overview: <%= @guide.overview %></p>

<p>Distance: <%= @guide.distance %> km </p>

<p>Duration <%= @guide.duration %> hs</p>

<p>Category: <%= @guide.category %> </p>

<p>Created by: <%= @guide.user.full_name %></p>

<% if @guide.user == current_user %>
  <%= link_to "Edit", edit_guide_path(@guide) %>
<% else %>
  <%= form_tag orders_path do %>
    <%= hidden_field_tag 'guide_id', @guide.id %>
    <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
  <% end %>
<% end %>

<%= link_to "Search", guides_path%>

<h1>Reviews</h1>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= review.stars %> | <%= review.user.full_name %>
      <%= review.content %>
    </li>
  <% end %>
</ul>

<%= render 'reviews/form' %>
