<h1>Guide Show Page</h1>

<h3><%= @guide.title %></h3>

<p>Location: <%= @guide.location %></p>

<p>Overview: <%= @guide.overview %></p>

<p>Distance: <%= @guide.distance %> km </p>

<p>Duration <%= @guide.duration %> hs</p>

<p>Category: <%= @guide.category %> </p>

<p>Created by: <%= @guide.user.full_name %></p>


<%= link_to "Edit", edit_guide_path(@guide) %>
<%= link_to "Delete", guide_path(@guide), method: :delete,
    data: { confirmation: "are you sure?"} %>

