<div class="img-container">
  <div class="banner image-banner", style="background-image: url(<%= @guide.image %>);">
    <div class="image-top">
      <%= link_to guides_path do %>
        <p><i class="fas fa-chevron-left pt-2 pl-3" style="color: #585A5A"></i></p>
      <% end %>
      <p id="show-location"><span><i class="fas fa-map-marker-alt"></i></span><%= @guide.location %></p>
    </div>
  </div>
  <% if @guide.user == current_user  %>
    <div class="btn-icon">
      <%= link_to edit_guide_path(@guide) do %>
        <span><i class="fas fa-pen" id="pen-icon"></i></span>
      <% end %>
    </div>
  <% else %>
    <div class="btn-icon">
      <%= link_to guide_wishes_path(@guide), method: :post, remote: true do %>
        <span><i class="fas fa-heart" id="heart-icon"></i></span>
      <% end %>
    </div>
  <% end %>
</div>

<div class="show-container">

<%= link_to guide_reviews_path(@guide) do %>
  <div class="reviews">
    <%= render 'shared/reviews' %>
  </div>
<% end %>

  <div class="show-title mt-2">
    <h3><%= @guide.title %></h3>
  </div>
  <div class="d-flex">
    <div class="info-item d-flex pr-1 py-2">
      <span class="info-icon px-1"><i class="fas fa-route"></i></span>
      <p><strong><%= @guide.distance %> km</strong></p>
    </div>
    <div class="info-item d-flex px-1 py-2">
      <span class="info-icon px-1"><i class="far fa-clock"></i></span>
      <p> <strong><%= @guide.duration %> hs</strong></p>
    </div>
    <div class="info-item d-flex px-1 py-2">
      <% if @guide.category == "history" %>
        <span class="info-icon px-1"><i class="fas fa-landmark"></i></i></span>
      <% elsif @guide.category == "nature" %>
        <span class="info-icon px-1"><i class="fas fa-seedling"></i></span>
      <% elsif @guide.category == "food" %>
        <span class="info-icon px-1"><i class="fas fa-utensils"></i></span>
      <% elsif @guide.category == "adventure" %>
        <span class="info-icon px-1"><i class="fas fa-mountain"></i></span>
      <% elsif @guide.category == "horror" %>
        <span class="info-icon px-1"><i class="fas fa-dizzy"></i></span>
      <% end %>
      <p><strong><%= @guide.category %> </strong></p>
    </div>
  </div>

  <div class="show-overview mt-2">
    <p id="subtitle-bold"><strong>Overview</strong></p>
    <p><%= @guide.overview %></p>
  </div>

  <div class="user-profile mt-4 mb-4">
    <%= image_tag(@guide.user.avatar, class: "avatar", alt: "avatar") %>

      <p>Your guide is <%= link_to conversations_path(sender_id: current_user, recipient_id: @guide.user), class: "link", method: :post do %>
         <%= @guide.user.full_name %>
        <% end %>
      </p>
  </div>

  <% if @guide.user == current_user  %>
    <div class="btn-large btn-light whiter my-2">
      <%= link_to guide_path_path(@guide) do %>
      Itinerary
      <% end %>
    </div>
  <% else %>
    <div class="btn-large btn-light my-2">
      <%= form_tag orders_path do %>
        <%= hidden_field_tag "guide_id", @guide.id %>
        <%= submit_tag "Purchase", class: "no-input whiter" %>
      <% end %>
    </div>
  <% end %>
</div>

